* {
    outline: 1px solid red;
}

.row{
    display: flex;
    background-color: seagreen;
}

.col{
    flex: 4;
    padding: 20px;
    margin: 20px;
    border: white;
}
.col-2{
    flex: 3;
    padding: 20px;
    margin: 20px;
    border: white;
}
.col-3{
    flex: 2;
    padding: 20px;
    margin: 20px;
    border: white;
}