/*
CASCADING STYLE SHEETS
*/

h1{
    font-family: 'Courier New', Courier, monospace;
    color:  #1d8348 
}

.IMG_2071.JPG{
    width: 200;
    height: 200;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    color:  #1d8348 ;
}
.text-green{
    color:  #1d8348 ;
    font-family: 'Courier New', Courier, monospace;
    width: 200px;
}

.text-green{
    font-family: 'Courier New', Courier, monospace;
    color:  #1d8348 ;
}