#container{
	background-color: grey;
	width:960px;
	align-items: center;
	/*overflow: hidden;
	height: auto;*/
}
#box-1, #box-2, #box-3{
	background-color: green;
	height: 200px;
	width: 200px;
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
	float: right;
}
.clear{
	clear: both;
}
#container2{
	background-color: grey;
	width:960px;
	align-items: center;
}
#box-4, #box-5{

	background-color: green;
	height: 200px;
	width: 200px;
	border: 1px solid black;
	margin: 20px;
	padding: 20px;
	float: right;
}