.header {
text-align: center;
}

.container {
    width: 720px;
    height: 250px;
    background-color: navy;
    display: flex;
    align-items: center;
}
    
.col1 {
    width: 215px;
    padding: 10px;
    align-items: left;
    justify-content: space-around;
}
.col2 {
    width: 215px;
    padding: 10px;
    align-items: center;
    justify-content: space-around;
}
.col3 {
    width: 215px;
    padding: 10px;
    align-items: right;
    justify-content: space-around;
}