* {
    margin: 0px;
    padding: 0px;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px red;
    border-style: dotted; display: flex;
}

.profile {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.signOutButton {
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    justify-content: space-between;
}

.user {
    display: flex;
    border: 1px red;
    border-style: dotted; width: 485px;
}

.info {
    display: inline-block;
    margin: 20px;
}

.location {
    padding: 3px;
}

.credentials {
    padding: 3px;
}

.edit {
    padding: 3px;
}

.education {
    display: inline-block;
    margin-top: 10px;
    border: 1px red;
    border-style: dotted; width: 485px;
}

.leftColumn {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    /* border: 1px red;
    border-style: dotted; width: 250px; */
}

.rightColumn {
    padding: 10px;
    margin: 10px;
    display: inline-block;
    /* vertical-align: center; */
    /* justify-content: center ; */
    border: 1px red;
    border-style: dotted; width: 250px;
}

.request {
    display: inline-block;
    border: 1px red;
    border-style: dotted; width: 250px;
}

.your {
    display: inline-block;
    border: 1px red;
    border-style: dotted; width: 250px;
}

.container2 {
    margin-left: 5px;
    color: black;
}